<section id="skills">
    <div class="container">
        <div class="col-12 py-4 px-4">
            <h4 class="display-4">Mes compétences</h4>
            <hr>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card mb-5">
                    <div class="card-body">
                        <h5 class="card-title display-6" style="color: #0A0D3F">Front-end</h5>
                        {% for techno in frontTechnos %}
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-md-4">
                                    <p class="card-text p-2"><strong>{{ techno.name }}</strong></p>
                                </div>
                                <div class="col-md-8">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated p-2"
                                             role="progressbar"
                                             aria-valuenow="{{ techno.level }}"
                                             aria-valuemin="0" aria-valuemax="100"
                                             style="width: {{ techno.level }}%; background-color: #D92562!important;"></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-5">
                    <div class="card-body">
                        <h5 class="card-title display-6" style="color: #D92562">Back-end</h5>
                        {% for techno in backTechnos %}
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-md-4">
                                    <p class="card-text p-2"><strong>{{ techno.name }}</strong></p>
                                </div>
                                <div class="col-md-8">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated p-2"
                                             role="progressbar"
                                             aria-valuenow="{{ techno.level }}"
                                             aria-valuemin="0" aria-valuemax="100"
                                             style="width: {{ techno.level }}%; background-color: #0A0D3F!important;"></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-5">
                    <div class="card-body">
                        <h5 class="card-title display-6" style="color: #D92562">Environnement de travail</h5>
                        <p><strong>Système d'exploitation :</strong> Window 10 </p>
                        <p><strong>IDE :</strong> PhpStorm </p>
                        <p><strong>Workflow :</strong> Git, Slack, Discord </p>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-5">
                    <div class="card-body">
                        <h5 class="card-title display-6" style="color: #0A0D3F">Compétences personnelles</h5>
                        <p>Rigueur & autonomie </p>
                        <p>Créativité & gestion du stress</p>
                        <p>Sens du relationnel & esprit d'équipe</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

